In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
from pandas_profiling import ProfileReport
import pandas as pd

In [21]:
dir = "/content/drive/MyDrive/DS4A Team 14 - Fall 2022/DATA CURATION/Data Source Copies/EIA Electricity Data Browser/data"
# skip first 4 rows to get only headers and data
df_net_gen_solar = pd.read_csv(dir + '/Net_generation_for_all_utility-scale_solar.csv', skiprows=4)
df_net_gen_coal = pd.read_csv(dir + '/Net_generation_for_coal.csv', skiprows=4)
df_net_gen_gas = pd.read_csv(dir + '/Net_generation_for_natural_gas.csv', skiprows=4)
df_cons_coal = pd.read_csv(dir + '/Consumption_for_electricity_generation_for_coal.csv', skiprows=4)
df_cons_gas = pd.read_csv(dir + '/Consumption_for_electricity_generation_for_natural_gas.csv', skiprows=4)
df_avg_cost_coal = pd.read_csv(dir + '/Average_cost_of_fossil_fuels_for_electricity_generation_(per_Btu)_for_coal.csv', skiprows=4)
df_avg_cost_gas = pd.read_csv(dir + '/Average_cost_of_fossil_fuels_for_electricity_generation_(per_Btu)_for_natural_gas.csv', skiprows=4)

In [22]:
df_net_gen_solar.head()

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022
0,Net generation for all utility-scale solar,thousand megawatthours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,thousand megawatthours,ELEC.GEN.SUN-US-99.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States : all sectors,thousand megawatthours,ELEC.GEN.SUN-US-99.M,7,13,31,39,81,91,92,...,6091,8158,9312,11868,13438,15161,15953,15686,14375,13405
3,United States : electric power,NaN,ELEC.GEN.SUN-US-98.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United States : electric utility,thousand megawatthours,ELEC.GEN.SUN-US-1.M,0,0,0,0,0,0,0,...,883,1084,1199,1536,1707,1838,1820,1804,1708,1481

In [23]:
df_net_gen_solar.dtypes

description    object
units          object
source key     object
Jan 2001       object
Feb 2001       object
                ...
May 2022       object
Jun 2022       object
Jul 2022       object
Aug 2022       object
Sep 2022       object
Length: 264, dtype: object

In [24]:
df_net_gen_solar.columns

Index(['description', 'units', 'source key', 'Jan 2001', 'Feb 2001',
       'Mar 2001', 'Apr 2001', 'May 2001', 'Jun 2001', 'Jul 2001',
       ...
       'Dec 2021', 'Jan 2022', 'Feb 2022', 'Mar 2022', 'Apr 2022', 'May 2022',
       'Jun 2022', 'Jul 2022', 'Aug 2022', 'Sep 2022'],
      dtype='object', length=264)



-Checking data types and format for consistency

-Mathematical checks where necessary (sum, min, max)

-Explore Distinct values in each column

-Looking for errors in individual rows

-Identify zero/blank/null values

-Check if data is related to other cells

In [25]:
df_net_gen_solar[["description",	"units",	"source key",	"Jan 2001"]].corr(method='pearson')
df_net_gen_solar.corr()

Empty DataFrame
Columns: []
Index: []

In [26]:
dirp = "/content/drive/MyDrive/DS4A Team 14 - Fall 2022/DATA CURATION/Data Source Copies/EIA Electricity Data Browser/Profile Reports"

# net_gen_solar = df_net_gen_solar.profile_report(title='Net Electricity Generation for Solar by State and Sector', minimal = True)
# net_gen_solar.to_file(output_file= dirp + "/net_gen_solar.html")

# net_gen_coal = df_net_gen_coal.profile_report(title='Net Electricity Generation for Coal by State and Sector', minimal = True)
# net_gen_coal.to_file(output_file="Profile Reports/net_gen_coal.html")

# net_gen_gas = df_net_gen_gas.profile_report(title='Net Electricity Generation for Natural Gas by State and Sector', minimal = True)
# net_gen_gas.to_file(output_file="Profile Reports/net_gen_gas.html")

# cons_coal = df_cons_coal.profile_report(title='Electricity Consumption for Coal by State and Sector', minimal = True)
# cons_coal.to_file(output_file="Profile Reports/cons_coal.html")

# cons_gas = df_net_gen_coal.profile_report(title='Electricity Consumption for Natural Gas by State and Sector', minimal = True)
# cons_gas.to_file(output_file="Profile Reports/cons_gas.html")

# avg_cost_coal = df_net_gen_coal.profile_report(title='Average Cost of Coal for Electricity Generation by State and Sector', minimal = True)
# avg_cost_coal.to_file(output_file="Profile Reports/avg_cost_coal.html")

# avg_cost_gas = df_net_gen_coal.profile_report(title='Average Cost of Natural Gas for Electricity Generation by State and Sector', minimal = True)
# avg_cost_gas.to_file(output_file="Profile Reports/avg_cost_gas.html")